In [7]:
# Import statements
import pandas as pd

In [30]:
# HPI Data
df = pd.read_csv('datasets/hpi_master.csv')
cities = ["Houston", "Phoenix", "Los Angeles", "Chicago", "New York"]
pattern = "|".join(cities)
filtered_df = df[df['place_name'].str.contains(pattern, case=False, na=False)]
filtered_df = filtered_df.drop(columns=['hpi_type', 'hpi_flavor', 'frequency', 'level', 'place_id', 'index_sa'])
def extract_city(name):
    for city in cities:
        if city.lower() in name.lower():
            return city
    return name

filtered_df['place_name'] = filtered_df['place_name'].apply(extract_city)
filtered_df = filtered_df[filtered_df['yr'] >= 1990]
filtered_df = filtered_df.rename(columns={'yr': 'year', 'place_name': 'city', 'period': 'quarter'})
hpi = filtered_df
hpi.head()

          city  year  quarter  index_nsa
16354  Chicago  1990        1      83.83
16355  Chicago  1990        2      84.81
16356  Chicago  1990        3      85.80
16357  Chicago  1990        4      85.87
16358  Chicago  1991        1      86.95

In [9]:
# Demographic Data

In [10]:
# GDP Data

In [11]:
# Unemployment data

In [12]:
# Industrial production

In [13]:
# Volatility Data

In [14]:
# Inflation Data