In [2]:
# Import statements
import pandas as pd
import numpy as np

In [30]:
# HPI Data
df = pd.read_csv('datasets/hpi_master.csv')
cities = ["Houston", "Phoenix", "Los Angeles", "Chicago", "New York"]
pattern = "|".join(cities)
filtered_df = df[df['place_name'].str.contains(pattern, case=False, na=False)]
filtered_df = filtered_df.drop(columns=['hpi_type', 'hpi_flavor', 'frequency', 'level', 'place_id', 'index_sa'])
def extract_city(name):
    for city in cities:
        if city.lower() in name.lower():
            return city
    return name

filtered_df['place_name'] = filtered_df['place_name'].apply(extract_city)
filtered_df = filtered_df[filtered_df['yr'] >= 1990]
filtered_df = filtered_df.rename(columns={'yr': 'year', 'place_name': 'city', 'period': 'quarter'})
hpi = filtered_df
hpi.head()

          city  year  quarter  index_nsa
16354  Chicago  1990        1      83.83
16355  Chicago  1990        2      84.81
16356  Chicago  1990        3      85.80
16357  Chicago  1990        4      85.87
16358  Chicago  1991        1      86.95

In [9]:
#Demographic Data

In [ ]:
# GDP Data
#import pandas as pd
# import openpyxl

# df = pd.read_excel('income_data.xlsx', sheet_name='Sheet1')

# df_less = df[['Median Household Income', 'City', 'Year', 'Total Households']]

# def expand_to_quarters(row_1, row_2):
#     median_1 = int(row_1['Median Household Income'])
#     median_2 = int(row_2['Median Household Income'])

#     if median_1 == 0 or median_2 == 0:
#         return pd.DataFrame()  # Avoid division by zero

#     slope = (median_2 - median_1) / 4
#     quarter_incomes = [int(median_1 + slope * (i + 1)) for i in range(4)]
    
#     quarters = [f"{i+1}" for i in range(4)]
    
#     data = {
#         'Median Household Income': quarter_incomes,
#         'City': [row_1['City']] * 4,
#         'Year': [f"{row_1['Year']}"] * 4,
#         'Quarter': quarters
#     }
    
#     return pd.DataFrame(data)
# df_new = []
# for i in range(len(df_less) - 1):
#     expanded = expand_to_quarters(df_less.iloc[i], df_less.iloc[i + 1])
#     if (df_less.iloc[i]['City'] != df_less.iloc[i + 1]['City']):
#         continue  # Skip if not the same city
#     if not expanded.empty:
#         df_new.append(expanded)
# df_new = pd.concat(df_new, ignore_index=True)
# df_new = df_new.sort_values(by=['City', 'Year', 'Quarter']).reset_index(drop=True)
# #df_new.to_excel('expanded_income_data.xlsx', index=False)

# data = {
#     'Median Household Income': [38909, 26301, 28327, 40328, 45600, 38293, 37625, 41207, 36616, 36687],
#     'City': ['New York', 'Chicago', 'Phoenix', 'Houston', 'Los Angeles', 'New York', 'Chicago', 'Phoenix', 'Houston', 'Los Angeles'],
#     'Year': ['1990', '1990', '1990', '1990', '1990', '2000', '2000', '2000', '2000', '2000'],
# }

# df = pd.DataFrame(data)

# df['Date'] = pd.to_datetime(df['Year']) + pd.offsets.QuarterEnd(1)

# # Step 3: Set up new full date range (1990Q1 to 2009Q4)
# quarters = pd.date_range(start='1990-03-31', end='2009-12-31', freq='Q')

# # Step 4: Create a multi-index of all City-Quarter combinations
# cities = df['City'].unique()
# multi_index = pd.MultiIndex.from_product([cities, quarters], names=['City', 'Date'])

# # Step 5: Reindex the original DataFrame
# df = df.set_index(['City', 'Date'])
# df = df.reindex(multi_index)

# # Step 6: Interpolate missing values by linear method
# df['Median Household Income'] = df['Median Household Income'].interpolate(method='linear')

# # Optional: Reset index to flatten the DataFrame
# df = df.reset_index()

# # Display final result
# df.to_excel('interpolated_income_data.xlsx', index=False)



# quarter_age = pd.read_excel('less_age_data.xlsx', sheet_name='Sheet1')

# def expand_to_quarters_age(row_1, row_2):
#     median_1 = int(row_1['Total Population'])
#     median_2 = int(row_2['Total Population'])

#     if median_1 == 0 or median_2 == 0:
#         return pd.DataFrame()  # Avoid division by zero

#     slope = (median_2 - median_1) / 4
#     quarter_incomes = [int(median_1 + slope * (i + 1)) for i in range(4)]
    
#     quarters = [f"{i+1}" for i in range(4)]
    
#     data = {
#         'Total Population': quarter_incomes,
#         'City': [row_1['City']] * 4,
#         'Year': [f"{row_1['Year']}"] * 4,
#         'Quarter': quarters
#     }
    
#     return pd.DataFrame(data)
# df_new_age = []
# quarter_age = quarter_age.sort_values(by=['City', 'Year']).reset_index(drop=True)
# for i in range(len(quarter_age) - 1):
#     if (quarter_age.iloc[i]['City'] != quarter_age.iloc[i + 1]['City']):
#         continue  # Skip if not the same city
#     expanded = expand_to_quarters_age(quarter_age.iloc[i], quarter_age.iloc[i + 1])
#     if not expanded.empty:
#         df_new_age.append(expanded)

# df_new_age = pd.concat(df_new_age, ignore_index=True)
# df_new_age = df_new_age.sort_values(by=['City', 'Year', 'Quarter']).reset_index(drop=True)
# df_new_age.to_excel('expanded_age_data.xlsx', index=False)


df_income_combined = pd.read_excel('interpolated_income_data.xlsx', sheet_name='Sheet1')
df_income_combined_2 = pd.read_excel('expanded_income_data.xlsx', sheet_name='Sheet1')

combined_income = pd.concat([df_income_combined, df_income_combined_2]).drop_duplicates().reset_index(drop=True)
combined_income = combined_income.drop(columns=['Date'])

total_age = pd.read_excel('expanded_age_data.xlsx', sheet_name='Sheet1')

final_combined = pd.merge(combined_income, total_age, on=['City', 'Year', 'Quarter'], how='inner')
final_combined = final_combined.sort_values(by=['City', 'Year', 'Quarter']).reset_index(drop=True)
final_combined.to_excel('final_combined_data.xlsx', index=False)

In [11]:
# Unemployment data

In [12]:
# Industrial production

In [6]:
# Volatility Data
df = pd.read_csv('datasets/VIXCLS.csv')
df['observation_date'] = pd.to_datetime(df['observation_date'])

df['VIXCLS'] = df['VIXCLS'].interpolate(method='linear')

df['year'] = df['observation_date'].dt.year
df['quarter'] = df['observation_date'].dt.quarter

quarterly_df = df.groupby(['year', 'quarter'], as_index=False)['VIXCLS'].mean()

cities = ["Houston", "Phoenix", "Los Angeles", "Chicago", "New York"]
vix = pd.DataFrame()

for city in cities:
    temp = quarterly_df.copy()
    temp['city'] = city
    vix = pd.concat([vix, temp], ignore_index=True)

vix = vix[['city', 'year', 'quarter', 'VIXCLS']]

vix.head()

      city  year  quarter     VIXCLS
0  Houston  1990        1  22.168437
1  Houston  1990        2  18.735385
2  Houston  1990        3  25.134462
3  Houston  1990        4  26.005909
4  Houston  1991        1  22.427344

In [14]:
# Inflation Data