In [15]:
import pandas as pd

In [16]:
# Reading in the CSV file
df = pd.read_csv('hpi_master.csv')
df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.87,100.87
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.33,100.90
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.73,100.97
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.32,101.31

In [17]:
# Filtering for the top 5 cities in the US
cities = ["Houston", "Phoenix", "Los Angeles", "Chicago", "New York"]
pattern = "|".join(cities)
filtered_df = df[df['place_name'].str.contains(pattern, case=False, na=False)]
filtered_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
16296,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1975,3,30.28,NaN
16297,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1975,4,31.04,NaN
16298,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1976,1,31.33,NaN
16299,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1976,2,32.23,NaN
16300,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1976,3,34.28,NaN

In [18]:
# Displaying one row per place_name
place_df = filtered_df.drop_duplicates(subset='place_name', keep='first')
place_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
16296,traditional,all-transactions,quarterly,MSA,"Chicago-Naperville-Schaumburg, IL (MSAD)",16984,1975,3,30.28,NaN
31845,traditional,all-transactions,quarterly,MSA,"Houston-Pasadena-The Woodlands, TX",26420,1976,1,51.49,NaN
41270,traditional,all-transactions,quarterly,MSA,"Los Angeles-Long Beach-Glendale, CA (MSAD)",31084,1975,1,20.47,NaN
48559,traditional,all-transactions,quarterly,MSA,"New York-Jersey City-White Plains, NY-NJ (MSAD)",35614,1975,4,24.00,NaN
52433,traditional,all-transactions,quarterly,MSA,"Phoenix-Mesa-Chandler, AZ",38060,1977,2,42.60,NaN

In [19]:
# Check for missing values in 'index_sa'
missing_count = filtered_df['index_sa'].isna().sum()
missing_percent = (missing_count / len(filtered_df)) * 100
print(f"Missing values in index_sa: {missing_count}")
print(f"Percentage missing: {missing_percent:.2f}%")

Missing values in index_sa: 1316
Percentage missing: 38.87%

In [ ]:
# The length of the filtered dataframe
len(filtered_df)

3386

In [ ]:
# Finding the smallest values in 'index_nsa' and 'index_sa'
min_index_nsa = filtered_df['index_nsa'].min()
min_index_sa = filtered_df['index_sa'].min()
print(f"Smallest value in index_nsa: {min_index_nsa}")
print(f"Smallest value in index_sa: {min_index_sa}")

Smallest value in index_nsa: 20.47
Smallest value in index_sa: 74.79