In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("industrial production.csv")

In [6]:
df.head()

  observation_date  INDPRO
0       1919-01-01  4.8654
1       1919-02-01  4.6504
2       1919-03-01  4.5160
3       1919-04-01  4.5966
4       1919-05-01  4.6235