In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Table(5 states1997-2024).csv")

In [4]:
df.head()

,GeoName,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Arizona,132694.8,144393.2,156442.1,165735.6,172899.6,180844.5,194318.0,207246.3,227997.8,...,298942.2,313787.1,333099.0,353671.0,375376.7,388956.7,436778.6,484052.2,522767.2,552167.0
1,California,1068048.6,1143672.5,1239773.5,1354791.3,1373270.8,1419321.8,1498578.0,1585081.4,1698858.4,...,2487156.4,2586485.2,2740550.3,2899530.9,3068629.7,3076755.1,3423958.3,3660415.7,3870378.9,4103123.6
2,Illinois,416015.1,436533.4,459971.6,486089.7,499618.4,511485.9,528577.0,560079.8,589153.7,...,802592.0,813561.6,832826.8,871024.2,895601.8,860672.8,946776.2,1040353.3,1098346.1,1137243.6
3,New York,716104.7,744958.9,794009.5,839853.0,876285.2,885386.2,908535.2,958565.3,1009851.0,...,1498474.7,1556830.0,1624800.7,1710665.6,1787470.9,1773369.8,1923413.3,2052758.8,2172009.6,2297028.0
4,Texas,610659.8,648243.1,683347.4,742161.5,780206.2,796357.3,840860.8,921230.7,1003745.9,...,1585985.9,1582981.5,1667313.0,1808026.9,1864872.3,1802143.7,2088972.3,2436925.0,2583866.2,2709392.9