In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('VIXCLS.csv')

In [4]:
df.head()

  observation_date  VIXCLS
0       1990-01-02   17.24
1       1990-01-03   18.19
2       1990-01-04   19.22
3       1990-01-05   20.11
4       1990-01-08   20.26